.heading {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 30px auto;
} 
.heading h1 {
	font-size: 32px;
	color: #fff;
	margin-bottom: 25px;
	position: relative;
}
.heading h1::after {
	content: "";
	position: absolute;
	width: 135px;
	height: 4px;
	display: block; 
	margin: 0 auto;
	background-color: #8FAFFF;
}
.heading p {
	font-size: 20px;
	color: #969696;
	margin-bottom: 35px;
	font-family: Montserrat-d;
}
.ccontainer {
	width: 90%;
	margin: 0 auto;
	padding: 10px 20px;
	margin-bottom: 230px;
}
.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.about-image {
	margin-right: 40px;
	overflow: hidden;
	border-radius: 15px;
}
.about-image img {
	max-width: 100%;
	height: auto;
	display: block;
	transition: 0.5s ease;
}
.about-image:hover img{
	transform: scale(1.4);
}
.about-content {
	flex: 1;
}
.about-content h2 {
	font-size: 23px;
	margin-bottom: 15px;
	color: #ffffff;
}
.about-content p {
	font-size: 18px;
	line-height: 1.5;
	color: #969696;
	margin-bottom: 20px;
	text-align: justify;
}
.about-content .read-more {
	display: inline-block;
	padding: 10px 20px;
	background-color: #8FAFFF;
	color: #fff;
	font-size: 19px;
	text-decoration: none;
	margin-top: 15px;
	transition: 0.3s ease;
}
.about-content .read-more:hover {
	background-color: #7592de;
}

@media screen and (max-width: 768px) {
	.heading {
		padding: 0px 20px;
	}
	.heading h1 {
		font-size: 36px;
	}
	.heading p {
		font-size: 17px;
		margin-bottom: 0px;
	}
	.ccontainer {
		padding: 0px;
	}
	.about {
		padding: 20px;
		flex-direction: column;
	}
	.about-image {
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.about-content p {
		padding: 0px;
		font-size: 16px;
	}
	.about-content .read-more {
		font-size: 16px;
	}
}