* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* ДИРЕКТИВА РУТ  ДЛЯ ОДИНАКОВОГО 
ОТОБРАЖЕНИЯ ПРИ РАЗНОМ РАЗРЕШЕНИИ*/
:root {
	--index: calc(1vw + 1vh);
	--color-header: #FFFFFF;
	--color-text: #FFFFFF;
	--parametr-gap: calc(var(--index) * 10);
}
/* ПОДКЛЮЧЕНИЕ ШРИФТОВ
БУКВЫ РЯДОМ, ЧТОБЫ НЕ БРАЛСЯ ИЗ СИСТЕМЫ */
@font-face {
	font-family: Montserrat-a;
	src: url(../font/Montserrat-Thin.woff);
}
@font-face {
	font-family: Montserrat-b;
	src: url(../font/Montserrat-Light.woff);
}
@font-face {
	font-family: Montserrat-c;
	src: url(../font/Montserrat-ExtraLight.woff);
}
@font-face {
	font-family: Montserrat-d;
	src: url(../font/Montserrat-Regular.woff);
}
@font-face {
	font-family: Montserrat-e;
	src: url(../font/Montserrat-Medium.woff);
}
@font-face {
	font-family: Montserrat-f;
	src: url(../font/Montserrat-Bold.woff);
}
@font-face {
	font-family: Montserrat-g;
	src: url(../font/Montserrat-ExtraBold.woff);
}
@font-face {
	font-family: Montserrat-h;
	src: url(../font/Montserrat-SemiBold.woff);
}
@font-face {
	font-family: Montserrat-k;
	src: url(../font/Montserrat-Black.woff);
}
h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat-b;
}
body {
	background-color: #090b10;
	color: #fafafa;
	font-family: Montserrat-b;
	overflow-x: hidden;
	text-align: center;
}

.banner-area {
	background-image: url(https://acszigalen.cloudimg.io/v7/https%3A%2F%2Flive-resources-e2e-sales.ksb.com%2Fresource%2Fimage%2F399518%2Flandscape_ratio16x9%2F3300%2F1856%2F8d0e21e0e57959ae23c5c9eaee38ced4%2FAD544F16193E83A50E958A963E00E5F5%2Fpic-map-saudi-arabia.png?ci_url_encoded=1&width=900&height=507);
	background-size: cover;
	background-position: center center;
	top: 100px;
	height: 100vh;
	width: 100%;
	position: fixed;
}
.banner-area::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #090b10;
	opacity: .8;
	z-index: -1;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 120px;
	font-family: Montserrat-a;
	color: #ffffff;
}
.content-area {
	width: 100%;
	height: 100%;
	position: relative;
	background: #090b10;
	top: 800px;
}

.container {
	padding: 0 4vw;
}
.param {
	padding: calc(var(--index) * 4) 0;
}
.parametr {
	display: flex;
	padding: calc(var(--index)) 0;
}
.parametr-left {
	display: flex;
	padding: 70px;
	
}
.parametr-right {
	display: flex;
	padding: calc(var(--index) * 2.5) 0;
}
.parametr > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.parametr_item {
	max-width: calc(var(--index) * 11);
	margin-bottom: var(--parametr-gap);
}
.parametr_items {
	font-size: 24px;
	max-width: calc(var(--index) * 19);
	margin-bottom: var(--parametr-gap);
}
.vr {
	border-left: 70px solid #8FAFFF;
    height: 550px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}

/* FOOTER */
.footer {
	font-family: Montserrat-f;
	font-size: 14px;
	letter-spacing: 2px;
	height: 60px;
	background: #ffffff;
	color: #0f121a;
	justify-content: center;
	align-items: center;
	display: flex;
}

  /* TEXT-BLOCK */
.text-block {
	color: var(--color-text);
	position: relative;
	text-align: center;
}
.text-block__h {
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 24px;
	
}
.text-block__p {
	line-height: 25px;
	margin-bottom: 48px;
	text-align: justify;
} 

@media screen and (max-width: 1450px) {
	.text-block__h {
		font-size: 24px;
	}
	.text-block__p {
		font-size: 18px;
	}
}
@media screen and (max-width: 1080px) {
	.text-block__p {
		font-size: 15px;
	}
	.vr {
		border-left: 50px solid #8FAFFF;
		height: 450px;
	}
}